<?xml version="1.0"?>
<!--
/**
 * Copyright © Iman Aboheydary. All rights reserved.
 * See LICENSE for license details (MIT).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iranimij_OpenLabel::openlabel" title="OpenLabel" translate="title" module="Iranimij_OpenLabel"
             sortOrder="40" parent="Magento_Catalog::catalog" resource="Iranimij_OpenLabel::openlabel"/>
        <add id="Iranimij_OpenLabel::labels" title="Labels" translate="title" module="Iranimij_OpenLabel"
             sortOrder="10" parent="Iranimij_OpenLabel::openlabel" action="openlabel/label/index"
             resource="Iranimij_OpenLabel::labels"/>
        <add id="Iranimij_OpenLabel::designs" title="Designs" translate="title" module="Iranimij_OpenLabel"
             sortOrder="20" parent="Iranimij_OpenLabel::openlabel" action="openlabel/design/index"
             resource="Iranimij_OpenLabel::designs"/>
    </menu>
</config>
