<?xml version="1.0"?>
<!--
/**
 * Copyright © Iman Aboheydary. All rights reserved.
 * See LICENSE for license details (MIT).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="openlabel" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>OpenLabel</label>
            <tab>iranimij</tab>
            <resource>Iranimij_OpenLabel::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable OpenLabel</label>
                    <comment>Turns label rendering on for this scope. Labels are still indexed while disabled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_max_labels" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Default max labels per position</label>
                    <comment>Used for new placements. Labels beyond this number in one corner are hidden by priority. 1 to 10.</comment>
                    <validate>validate-digits validate-digits-range digits-range-1-10</validate>
                </field>
                <field id="index_mode" translate="label" type="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label indexer</label>
                    <frontend_model>Iranimij\OpenLabel\Block\Adminhtml\System\Config\IndexMode</frontend_model>
                </field>
                <field id="debug" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Debug mode</label>
                    <comment>Adds data-ol-label attributes with label IDs to the shop's markup, to help with support. Keep off in production.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
